<h1>Listing users</h1>

<table>
  <tr>
    <th>Uid</th>
    <th>Uname</th>
    <th>Ucname</th>
    <th>Tel</th>
    <th>Address</th>
    <th>Qq</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.uid %></td>
    <td><%= user.uname %></td>
    <td><%= user.ucname %></td>
    <td><%= user.tel %></td>
    <td><%= user.address %></td>
    <td><%= user.qq %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
