
<% content_for :menuContent do %>
    <ul id="menu">
      <% @apis.each{|a| %>
      <li><a href="/apis/<%=a[:_id]%>"><%= a["label"] %></a></li>
       <% } %>
     <li>
        <a href="#">Delphi</a>
        <ul>
          <li><a href="#">Ada</a></li>
          <li><a href="#">Saarland</a></li>
          <li><a href="#">Salzburg</a></li>
        </ul>
      </li>
    </ul>
<% end %>
<div class="container-fluid">
  <div class="row-fluid">
       <div class="span6">
         <%= form_for(@api,:remote=>true) do |f| %>
             <div class="tabbable" style="margin-bottom: 9px;">
               <ul class="nav nav-tabs">
                 <li><a href="#1" data-toggle="tab">基础信息</a></li>
                 <li  class="active"><a href="#2" data-toggle="tab">基础代码</a></li>
                 <li><a href="#3" data-toggle="tab">依赖代码</a></li>
               </ul>
               <div class="tab-content">
                 <div class="tab-pane" id="1">
                   <input type="text" class="form-control" size="20" placeholder="标签" name="api[label]" value="<%=@api.label%>">
                   <div class="field">
                     <textarea class="form-control" placeholder="描述信息" name="api[desc]"   wrap="logical" style="width: 98%" rows ="20">
                       <%= @api[:desc] %>
                    </textarea>
                   </div>
                 </div>
                 <div class="tab-pane active" id="2">
                   <div class="field">
                     <textarea class="form-control" name="api[cleintContent]"  id="TestCode" wrap="logical" style="width: 98%" rows ="20">
                       <%= @api[:cleintContent] %>
                     </textarea>
                   </div>
                 </div>
                 <div class="tab-pane" id="3">
                   <pre>
                   </pre>
                 </div>
               </div>
             </div> <!-- /tabbable -->
             <div class="actions">
               <%= f.submit %>
             </div>
         <% end %>
       </div>
    <div id = 'display' class="span6">
            <%= render 'display',:object => @api %>
    <div >
  </div>
</div>
      </div>
    </div>