<p id="notice"><%= notice %></p>

<p>
  <b>Label:</b>
  <%= @api.label %>
</p>

<p>
  <b>Desc:</b>
  <%= @api.desc %>
</p>

<p>
  <b>Cleintcontent:</b>
  <%= @api.cleintContent %>
</p>


<%= link_to 'Edit', edit_api_path(@api) %> |
<%= link_to 'Back', apis_path %>
